<!DOCTYPE html>
<html style="font-size: 16px;"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/default}">

<head th:replace="layout/head :: head(~{::title})">
    <title>Homepage</title>
</head>
<body class="u-body">
<header th:replace="layout/header::header"> </header>

<section class="u-clearfix u-section-9" id="sec-87ba">
    <div class="u-clearfix u-sheet u-sheet-1">
        <div align="center">
            <h2 class="u-text u-text-default u-text-4">Please enter a keyword or phrase to search for.</h2>

            <br>
            <br>
            <br>
            <br>
            <form id="employeeForm" th:action="@{youtubeDemo}" th:object="${youtubeSearchCriteria}" method="post">
                <div class="form-body">
                    <div class="form-group">
<!--                                            <div th:classappend="${#fields.hasErrors('queryTerm')} ? 'input-icon right' : ''">-->
                            <i th:if="${#fields.hasErrors('queryTerm')}" class="fa fa-exclamation tooltips" data-original-title="please enter a valid search term" data-container="body"></i>
                            <input type="text" class="form-control" maxlength="64" th:field="*{queryTerm}" placeholder="For example: tom brady"/>
                            <span th:if="${#fields.hasErrors('queryTerm')}" class="help-block" th:errors="*{queryTerm}"></span>
<!--                                            </div>-->
                    </div>

                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Search by query</button>
                </div>
            </form>

            <form id="url" th:action="@{youtubeDemoByURL}" th:object="${youtubeSearchCriteria}" method="post">
                <div class="form-body">

                    <div class="form-group">
                        <!--                                            <div th:classappend="${#fields.hasErrors('queryTerm')} ? 'input-icon right' : ''">-->
                        <i th:if="${#fields.hasErrors('queryTerm')}" class="fa fa-exclamation tooltips" data-original-title="please enter a valid search term" data-container="body"></i>
                        <input type="text" class="form-control" maxlength="64" th:field="*{queryTerm}" placeholder="For example: tom brady"/>
                        <span th:if="${#fields.hasErrors('queryTerm')}" class="help-block" th:errors="*{queryTerm}"></span>
                        <!--                                            </div>-->
                    </div>

                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Search by url</button>
                </div>
            </form>

            <form id="ted" th:action="@{/tedtalk/tedDemo}" th:object="${youtubeSearchCriteria}" method="post">
                <div class="form-body">

                    <div class="form-group">
                        <!--                                            <div th:classappend="${#fields.hasErrors('queryTerm')} ? 'input-icon right' : ''">-->
                        <i th:if="${#fields.hasErrors('queryTerm')}" class="fa fa-exclamation tooltips" data-original-title="please enter a valid search term" data-container="body"></i>
                        <input type="text" class="form-control" maxlength="64" th:field="*{queryTerm}" placeholder="For example: tom brady"/>
                        <span th:if="${#fields.hasErrors('queryTerm')}" class="help-block" th:errors="*{queryTerm}"></span>
                        <!--                                            </div>-->
                    </div>

                </div>
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Search by url</button>
                </div>
            </form>

            <br>
            <br>
            <a class="btn btn-primary" th:href="@{/youtubeadmin/youtubeDemoByChannel}">Search All Flourish videos </a>
        </div>
    </div>
</section>
<footer th:replace="layout/footer::foot"> </footer>
</body>
</html>