<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>

<footer  th:fragment="common" class="u-align-center u-clearfix u-footer u-grey-80 u-footer" id="sec-1d45"><div class="u-clearfix u-sheet u-sheet-1">
    <p class="u-align-left u-small-text u-text u-text-variant u-text-1">CONTACT DETAILS&nbsp;</p>
    <p class="u-align-left u-text u-text-2">ADDRESS</p>
</div></footer>
<section class="u-backlink u-clearfix u-grey-80">
    <a class="u-link" href=#" target="_blank">
        <span>Chen Feifan ThirdYearProject</span>
    </a>
</section>

</html>